<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
</div>
<div class="row">
  <div class="col-lg-9">
    <div id="canvas"></div>
  </div>
  <div class="col-lg-3">
    <br>
    <div class="form-group">
      <br>
      <label for="docTitle" class="control-label">Search</label><br>
      <input type="text" ng-model="graphSearch"></input> <button class="btn btn-sm btn-primary" ng-click="graphFilter(graphFilter, graphSearch)">Search</button>
    </div>
    <div class="form-group">
      <label for="docTitle" class="control-label">Type</label><br>
        <select ng-model="graphFilter" ng-change="redraw(graphFilter, graphSearch)">
          <option value="PERSON">Person</option>
          <option value="PEOPLE">People</option>
          <option value="LOCATION">Locations</option>
          <option value="ORGANIZATION">Organizations</option>
          <option value="GPE">Geopolitical Entities</option>
          <option value="EVENT">Events</option>
          <option value="DATE">Dates</option>
        </select>
    </div>
    <div id="details">
    </div>
    <br>
    <button class="btn btn-default btn-md" ng-click="saveJSON(relationships)"><span class="glyphicon glyphicon-download-alt"></span> Save JSON</button>
    <br>
  </div>
</div>
