<div ng-include="'components/navbar/navbar.html'"></div>

<!--<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Document</h3>
    </div>
    <br>
    <div class="form-group">
      <label for="docTitle" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="docTitle" ng-model="addDoc.title">
      </div>
    </div>
    <div class="form-group">
      <label for="docText" class="col-lg-2 control-label">Text</label>
      <div class="col-lg-10">
        <textarea ng-model="addDoc.txt" rows="8" class="form-control" id="docText"></textarea>
      </div>
      &nbsp;
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <div class="col-lg-6">
            <button class="btn btn-default btn-sm" ng-click="open('lg')" ng-disabled="analyzing"><span class="glyphicon glyphicon-plus"></span> Add Document</button>
            <br><br>
            <span ng-if="documents.length == 0">No documents. Add a few to analyze!</span>
            <div class="list-group" ng-if="documents.length > 0">
              <a href="#" class="list-group-item" ng-repeat="doc in documents" >
                {{doc.title}}
                <span class="pull-right"><span class="glyphicon glyphicon-minus-sign" ng-click="removeDoc($index)"></span></span>
              </a>
            </div>
            <br>
        </div>
        <div class="col-lg-6 centered" ng-if="documents.length > 0">
          <br>
          <span class="btn btn-primary btn-lg" ng-click="getRelation()" ng-if="!analyzing">Analyze</span>
          <img src="../assets/images/watson.gif" ng-if="analyzing">
          <br><br>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Weaver by <a href="https://github.com/rvillanueva">Ryan Villanueva</a></p>
      <button class="btn btn-md btn-info" ng-click="test()">Test Button</button>
  </div>
</footer>
