<div class="modal-header">
    <h3 class="modal-title">Search Web</h3>
    Retrieve latest news, discussions, and blogs. Yahoo is pure news articles while Webhose.io retrieves news, comments, blogs, and discussions.
</div>
<br>
<div class="form-group">
  <label for="api" class="col-lg-2 control-label">Source</label>
  <div class="col-lg-10">
    <select id="api" ng-model="api">
      <option value="yahoo">Yahoo News</option>
      <option value="webhose">Webhose.io</option>
    </select>
  </div>
</div><br>
<div class="form-group">
  <label for="url" class="col-lg-2 control-label">Search Term</label>
  <div class="col-lg-10">
    <input type="text" class="form-control" id="url" ng-model="search.term">
  </div>
</div>
  &nbsp;
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-if="!analyzing">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-if="!analyzing">Cancel</button>
    <img src="../assets/images/watson.gif" class="centered" ng-if="analyzing">
</div>

<!---<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>-->
