<div class="modal-header">
    <h3 class="modal-title">Search Web</h3>
    Retrieve latest news, discussions, and blogs. Yahoo is pure news articles while Webhose.io retrieves news, comments, blogs, and discussions.
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="api" class="col-lg-2 control-label">Source</label>
    <div class="col-lg-10">
      <select id="api" ng-model="api">
        <option value="yahoo">News</option>
        <option value="webhose">Blogs, Discussions, and Comments</option>
      </select>
    </div>
  </div><br>
  <div class="form-group" ng-if="api=='webhose'">
    <label for="language" class="col-lg-2 control-label">Language</label>
    <div class="col-lg-10">
      <select id="language" ng-model="language.webhose">
        <option value="english">English</option>
        <option value="arabic">Arabic</option>
        <option value="french">French</option>
        <option value="portugese">Portugese</option>
        <option value="spanish">Spanish</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-if="api=='yahoo'">
    <label for="language" class="col-lg-2 control-label">Language</label>
    <div class="col-lg-10">
      <select id="language" ng-model="language.yahoo">
        <option value="en">English - All</option>
        <option value="en-au">Australia – English</option>
        <option value="en-ca">Canada - English</option>
        <option value="en-gb">United Kingdom - English</option>
        <option value="en-in">India – English</option>
        <option value="en-my">Malaysia - English</option>
        <option value="en-nz">New Zealand - English</option>
        <option value="en-ph">Philippines - English</option>
        <option value="en-sg">Singapore - English</option>
        <option value="en-us">United States - English</option>
        <option value="es-ar">Argentina - Spanish</option>
        <option value="es-cl">Chile - Spanish</option>
        <option value="es-co">Colombia - Spanish</option>
        <option value="es-es">Spain – Spanish</option>
        <option value="es-mx">Mexico- Spanish</option>
        <option value="es-pe">Peru – Spanish</option>
        <option value="es-es">United States - Spanish</option>
        <option value="fr-ca">Canada - French</option>
        <option value="fr-ch">Switzerland - French</option>
        <option value="fr-fr">France - French</option>
        <option value="pt-br">Brazil – Portuguese</option>
      </select>
    </div>
  </div><br>
  <div class="form-group">
    <label for="url" class="col-lg-2 control-label">Search Term</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="url" ng-model="search.term">
    </div>
  </div>
</div>
  &nbsp;
<div class="modal-footer centered">
  <div class="righted">
    <button class="btn btn-primary" ng-click="ok()" ng-if="!analyzing">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-if="!analyzing">Cancel</button>
  </div>
  <img src="/assets/images/watson.gif" ng-if="analyzing">
</div>

<!---<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>-->
