<div ng-include="'components/navbar/navbar.html'"></div><br>
<div class="container">
  <div class="col-md-12">
    <div class="form-group">
      <label for="entityFilter" class="col-lg-2 control-label">Type</label>
      <div class="col-lg-10">
        <select id="entityFilter" ng-model="entityFilter" ng-change="resort()">
          <option value="ALL">All</option>
          <option value="PERSON">Person</option>
          <option value="PEOPLE">People</option>
          <option value="LOCATION">Locations</option>
          <option value="ORGANIZATION">Organizations</option>
          <option value="GPE">Geopolitical Entity</option>
          <option value="DATE">Dates</option>
          <option value="TIME">Times</option>
          <option value="EVENTS">Events</option>
          <option value="FACILITY">Facility</option>
          <option value="WEAPON">Weapon</option>
          <option value="DISEASE">Disease</option>
        </select>
      </div>
      Named? <input type="checkbox" ng-model="namedFilter" ng-true-value="'NAM'" ng-false-value="false"></input>
  </div>
  <br>
  <br>
    <div class="col-lg-4" ng-repeat="entity in entityArray | orderBy:'mentref[0]._'">
      <div class="panel panel-default">
      <div class="panel-heading"><h4>{{entity.mentref[0]._}}</h4>
      </div>
      <div class="panel-body">
        Accuracy: {{entity.$.score * 100 | number: 0}}%<br>
        Type: {{entity.$.type}}<br>
        Level: {{entity.$.level}}<br>
        Mentions:
        <span ng-repeat="mention in entity.mentref">
          <a href="#"><span class="glyphicon glyphicon-bookmark" popover="{{mentions[mention.$.mid].snippets.phrase}}" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="250" popover-append-to-body="true"></span></a>&nbsp;
        </span><br><br>
        <ul>
          <li ng-repeat="relation in entity.relations" ng-if="relation.type !== 'agentOf'">
            <span>
              {{relation.type}} {{relations[relation.rid].relmentions[0].relmention[0].rel_mention_arg[1]._}}
            </span>
            <!--<span>
              {{relations[relation.rid].relmentions[0].relmention[0].rel_mention_arg[1]._}} {{relation.type}} {{entity.mentref[0]._}}
            </span>-->
          </li>
      </ul>
        <div>
        </div>
      </div>
      </div>
    </div>
</div>

<table class="table table-striped table-hover" ng-if="entityFilter == 'ALL'">
  <thead>
    <tr>
      <th>Entity</th>
      <th>Type</th>
      <th>Id</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entity in entities">
      <td>{{entity.mentref[0]._}}</td>
      <td>{{entity.$.type}}</td>
      <td>{{entity.$.eid}}</td>
    </tr>
  </tbody>
</table>
