<div class="modal-header">
    <h3 class="modal-title">Welcome to IBM Weaver!</h3>
</div>
<div class="modal-body">
  Our mission is to help you see the meaning in your data. Weaver takes your massive blocks of text and transforms them into maps, timelines, and graphs so you can see the patterns behind the flood.<br><br>
  We know that's a daunting task, so we've prepared some example data for you to select. Alternately, feel free to add your own documents or use our tools to to search the news, crawl discussion boards, or track social media accounts.
  <br>
    &nbsp;
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" ng-if="!final">Let's go!</button>
</div>

<!---<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>-->
